{% extends "base.html" %}

{% block content %}
Upload a PNG or JPEG or TIFF:

<form id='fileform' enctype='multipart/form-data' action='upload_receive' method='POST'>
Filename: <input type='file' name='file'><p>
Image Name: <input type='text' name='name'><br>
Image Description: <input type='text' name='description'><br>
<input type='submit'>
</form>

<script>
window.onload = function(){
    var btn = document.getElementById('button');
    btn.onclick = function(ev){
        var the_form = document.forms.namedItem('form');
        alert('clicked!');
        var fd = new FormData(the_form);
        var request = new XMLHttpRequest();
        request.open("POST", "upload_receive", true);
        request.onload = function(event) {
            if (request.status == 200){
                alert('uploaded!');
                window.location = "/";
            } else {
                alert('upload failed :(');
            }
        }
        request.send(fd);
        ev.preventDefault();
    }
}
</script>

{% endblock %}
